.search {
  text-align: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 100%;

  .search_input {
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 20px;
    font-size: 16px;
    outline: none;

    &::placeholder {
      text-align: center;
    }
  }
}
